# Postgres
POSTGRES_USER=habituser
POSTGRES_PASSWORD=changeme_in_real_env
POSTGRES_DB=habittracker
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Backend
PORT=4000
NODE_ENV=development

#Migration
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE
